.container-fluid{
    margin: 0 auto;
    padding: 50px 0;
    overflow-y: scroll;
    background-color: #f7f7f7;
    min-height: 100vh;

}
.no-margin {
    margin: 0 !important;
}
.no-padding{
    padding: 0 !important;
}
h1,h2,h3,h4,h5,h6{
    color: darkblue;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.modal{
    background-color: aquamarine;
}
.video-box{
    width:100%;
    margin: 50px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    float: right;
}
.ui.modal>.actions{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
}